<ion-view view-title="Leads" no-scroll>
  <ion-content>
    <!--<ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="lead in leads" type="item-text-wrap" href="#/tab/leads/{{lead.id}}">

      </ion-item>
    </ion-list>-->

      <td-cards>
        <td-card ng-repeat="lead in leads" on-destroy="remove($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)" on-partial-swipe="cardPartialSwipe(amt)" class="card-{{$index}}">
          <div class="image" ng-controller="CardCtrl">
            <div class="no-text">NOPE</div>
            <div class="yes-text">LIKE</div>
            <img ng-src="{{lead.face}}">
            <h2>{{lead.name}}</h2>
            <p>{{lead.lastText}}</p>
            <i class="icon ion-chevron-right icon-accessory"></i>

            <ion-option-button class="button-assertive" ng-click="remove(lead)">
              Return
            </ion-option-button>
          </div>
        </td-card>
      </td-cards>
  </ion-content>
</ion-view>
